{% load i18n static %}

<div class="section section-pad section-bg-dark" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="res-m-btm text-center animated" data-animate="fadeInUp" data-delay=".1"><img
                        src="{% static 'images/lungwort/graph-lungwort-a.png' %}"alt="graph"></div>
            </div><!-- .col  -->
            <div class="col-md-6">
                <div class="text-block"><h6 class="heading-sm-s2 animated" data-animate="fadeInUp" data-delay=".2">What
                    is ICO Crypto</h6>
                    <h2 class="animated" data-animate="fadeInUp" data-delay=".3">We’ve built a platform <br
                            class="d-none d-md-block"> to buy and sell shares.</h2>
                    <p class="lead animated" data-animate="fadeInUp" data-delay=".4">ICO Crypto is a platform for the
                        future of funding that powering dat for the new equity blockchain.</p>
                    <p class="animated" data-animate="fadeInUp" data-delay=".5">While existing solutions offer to solve
                        just one problem at a time, our team is up to build a secure, useful, &amp; easy-to-use product
                        based on private blockchain. It will include easy cryptocurrency payments integration, and even
                        a digital arbitration system.</p>
                    <p class="animated" data-animate="fadeInUp" data-delay=".6">At the end, Our aims to integrate all
                        companies, employees, and business assets into a unified blockchain ecosystem, which will make
                        business truly efficient, transparent, and reliable.</p></div>
            </div><!-- .col  --></div><!-- .row  --></div><!-- .conatiner  --></div>