{% load i18n static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="section section-pad section-bg" id="benifits">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-head-s6"><h6 class="heading-sm-s2 animated" data-animate="fadeInUp" data-delay=".1">
                    ICO CRYPTO Feature</h6>
                    <h2 class="section-title-s6 animated" data-animate="fadeInUp" data-delay=".2">Ecosystem key
                        features</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".3">The ICO Crypto Team combines a passion
                        for esports, industry experise &amp; proven record in finance, development, marketing.</p></div>
                <div class="gaps size-1x"></div>
                <div class="gaps size-2x d-none d-md-block"></div>
            </div>
        </div>
        <div class="row mb--x8">
            <div class="col-lg-6">
                <div class="benefits-item animated" data-animate="fadeInUp" data-delay=".4">
                    <div class="benefits-icon"><img src="{% static 'images/lungwort/icon-d.png' %}"alt="icon"></div>
                    <div class="benefits-txt"><p>ICO Crypto makes <strong> you the sole owner of a secure </strong>
                        decentralize registry for your collection an products</p></div>
                </div>
            </div><!-- .col -->
            <div class="col-lg-6">
                <div class="benefits-item animated" data-animate="fadeInUp" data-delay=".5">
                    <div class="benefits-icon"><img src="{% static 'images/lungwort/icon-e.png' %}"alt="icon"></div>
                    <div class="benefits-txt"><p>The registry is a <strong>tamper-proof</strong> that uses <strong>dolor
                        sit amet,</strong> conse ctetur sed eiusmod tempor incidid labore Lorem consectetur adipiscing.
                    </p></div>
                </div>
            </div><!-- .col -->
            <div class="col-lg-6">
                <div class="benefits-item animated" data-animate="fadeInUp" data-delay=".6">
                    <div class="benefits-icon"><img src="{% static 'images/lungwort/icon-f.png' %}"alt="icon"></div>
                    <div class="benefits-txt"><p>Provide your customer with a <strong>lorem ipsum dolor sit amet, conse
                        ctetur sed</strong> eiusmod tempor incidid labore Lorem ipsum dolor.</p></div>
                </div>
            </div><!-- .col -->
            <div class="col-lg-6">
                <div class="benefits-item animated" data-animate="fadeInUp" data-delay=".7">
                    <div class="benefits-icon"><img src="{% static 'images/lungwort/icon-g.png' %}"alt="icon"></div>
                    <div class="benefits-txt"><p>ICO Crypto the prowess of blockchain <strong>labore et dolore</strong>
                        dolor sit amet, conse <strong>Ctetur sed</strong> eiusmod tempor labore dolor adipiscing.</p>
                    </div>
                </div>
            </div><!-- .col --></div>
    </div>
</div>

</body>
</html>