<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="section section-pad section-bg" id="media-partner">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-head-s6"><h6 class="heading-sm-s2 animated" data-animate="fadeInUp" data-delay=".1">
                    Partners</h6>
                    <h2 class="section-title-s6 animated" data-animate="fadeInUp" data-delay=".2">Supported By</h2>
                </div>
                <div class="gaps size-1x"></div>
            </div>
        </div>
        <div class="partner-list">
            <div class="row text-center">
                <div class="col-sm-2 col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay=".3"><img
                            src="{% static 'images/partner-xs-left-a.png' %}"alt="partner"></div>
                </div>
                <div class="col-sm-2 col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay=".4"><img
                            src="{% static 'images/partner-xs-left-b.png' %}"alt="partner"></div>
                </div>
                <div class="col-sm-2 col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay=".5"><img
                            src="{% static 'images/partner-xs-left-c.png' %}"alt="partner"></div>
                </div>
                <div class="col-sm-2 col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay=".6"><img
                            src="{% static 'images/partner-xs-left-d.png' %}"alt="partner"></div>
                </div>
                <div class="col-sm-2 col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay=".7"><img
                            src="{% static 'images/partner-xs-left-e.png' %}"alt="partner"></div>
                </div>
                <div class="col-sm-2 col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay=".8"><img
                            src="{% static 'images/partner-xs-left-f.png' %}"alt="partner"></div>
                </div>
                <div class="col-sm-2 col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay=".9"><img
                            src="{% static 'images/partner-sm-left-a.png' %}"alt="partner"></div>
                </div>
                <div class="col-sm-2 col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay="1.0"><img
                            src="{% static 'images/partner-sm-left-b.png' %}"alt="partner"></div>
                </div>
                <div class="col-sm-2 col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay="1.1"><img
                            src="{% static 'images/partner-sm-left-c.png' %}"alt="partner"></div>
                </div>
                <div class="col-sm-2 col-6">
                    <div class="single-partner animated" data-animate="fadeInUp" data-delay="1.2"><img
                            src="{% static 'images/partner-sm-left-d.png' %}"alt="partner"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>