{% load i18n static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="section section-pad section-bg-alt">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="section-head-s6"><h6 class="heading-sm-s2 animated" data-animate="fadeInUp" data-delay=".1">
                    ICO market</h6>
                    <h2 class="section-title-s6 animated" data-animate="fadeInUp" data-delay=".2">Introducing the ICO
                        Marketplace</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".3">Blockchain-powered marketplace which
                        connects buyer and Lorem ipsum dolor sit amet, consectetur adipiscing.</p></div>
                <div class="gaps size-1x"></div>
                <div class="gaps size-2x d-none d-md-block"></div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 res-m-bttm">
                <div class="animated" data-animate="fadeInUp" data-delay=".4"><img src="{% static 'images/jasmine/app-mockup.png"
                                                                                   alt="mockup"></div>
            </div><!-- .col -->
            <div class="col-lg-6">
                <div class="text-block">
                    <ul>
                        <li class="animated" data-animate="fadeInUp" data-delay=".5">The Platform will earn premium
                            libero tempore, cum soluta nobis est eligendi optio.
                        </li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".6">At aut reiciendis voluptatibus
                            maiores alias conse quatur aut perferendis.Contributor payouts perfectly simple and easy
                        </li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".7">Ut enim ad minim veniam, quis
                            nostrud exerc itation ullamco laboris nisi.
                        </li>
                        <li class="animated" data-animate="fadeInUp" data-delay=".8">Owners of cryptocurrency keep their
                            digital coins in ICO digital wallet. A coin-holder’s identification is stored in an
                            encrypted address that they have control.
                        </li>
                    </ul>
                </div>
            </div><!-- .col --></div>
    </div>
</div>
</body>
</html>