{% load i18n static %}


<div class="section section-pad no-pb section-bg">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6">
                <div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1"><img
                        src="{% static 'images/lungwort/graph-lungwort-b.png' %}"alt="graph"></div>
            </div><!-- .col  -->
            <div class="col-md-6 order-md-first order-last">
                <div class="text-block"><h6 class="heading-sm-s2 animated" data-animate="fadeInUp" data-delay=".2">power
                    of Blockchain</h6>
                    <h2 class="animated" data-animate="fadeInUp" data-delay=".3">Tokenization Benefits</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".4">Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p class="animated" data-animate="fadeInUp" data-delay=".5">Cryptocurrencies are Sed ut perspiciatis
                        unde omnis iste natus error sit voluptatem accusantium laudantium, totam rem.</p>
                    <p class="animated" data-animate="fadeInUp" data-delay=".6">Nemo enim ipsam voluptatem quia voluptas
                        sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione
                        voluptatem sequi nesciun quis nostrut.</p></div>
            </div><!-- .col  --></div><!-- .row  --></div><!-- .conatiner  --></div>
