{% load i18n static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="section section-pad no-pb section-bg">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6">
                <div class="res-m-btm animated" data-animate="fadeInUp" data-delay=".1"><img
                        src="{% static 'images/lungwort/graph-lungwort-c.png' %}"alt="graph"></div>
            </div><!-- .col  -->
            <div class="col-md-6">
                <div class="text-block"><h6 class="heading-sm-s2 animated" data-animate="fadeInUp" data-delay=".2">
                    Glogal Community</h6>
                    <h2 class="animated" data-animate="fadeInUp" data-delay=".3">The ICO Community</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".4">Tempor incididunt ut labore et dolore
                        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                        aliquip.</p>
                    <p class="animated" data-animate="fadeInUp" data-delay=".5">Perspiciatis unde omnis iste natus error
                        sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
                        inventore veritatis et quasi architecto beatae vitae dicta sunt. Nemo enim ipsam voluptatem quia
                        voluptas sit aspernatur aut odit.</p></div>
            </div><!-- .col  --></div><!-- .row  --></div><!-- .conatiner  --></div>

</body>
</html>