{% load i18n static %}


<div class="section section-pad-sm no-pb section-bg-dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10"><h6 class="heading-sm text-center animated" data-animate="fadeInUp" data-delay=".1">
                Our ratings</h6>
                <div class="gaps"></div>
                <div class="row rating-list">
                    <div class="col-sm col-4">
                        <div class="rating-item animated" data-animate="fadeInUp" data-delay=".2">
                            <div class="rating-info">4.7<span>/5</span></div>
                            <div class="rating-title">ICO Bench</div>
                        </div>
                    </div>
                    <div class="col-sm col-4">
                        <div class="rating-item animated" data-animate="fadeInUp" data-delay=".3">
                            <div class="rating-info">A</div>
                            <div class="rating-title">ICObazaar</div>
                        </div>
                    </div>
                    <div class="col-sm col-4">
                        <div class="rating-item animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="rating-info">9.4<span>/10</span></div>
                            <div class="rating-title">ICORanker</div>
                        </div>
                    </div>
                    <div class="col-sm col-4">
                        <div class="rating-item animated" data-animate="fadeInUp" data-delay=".5">
                            <div class="rating-info">4.9<span>/5</span></div>
                            <div class="rating-title">Trackico</div>
                        </div>
                    </div>
                    <div class="col-sm col-4">
                        <div class="rating-item animated" data-animate="fadeInUp" data-delay=".6">
                            <div class="rating-info">5<span>/5</span></div>
                            <div class="rating-title">WiserICO</div>
                        </div>
                    </div>
                    <div class="col-sm col-4">
                        <div class="rating-item animated" data-animate="fadeInUp" data-delay=".7">
                            <div class="rating-info">9.1<span>/10</span></div>
                            <div class="rating-title">Fundico</div>
                        </div>
                    </div>
                </div><!-- .row  --></div>
        </div>
    </div><!-- .conatiner  --></div>