{% load i18n static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="section section-pad section-bg" id="tokenSale">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-head-s6"><h6 class="heading-sm-s2 animated" data-animate="fadeInUp" data-delay=".1">
                    Token</h6>
                    <h2 class="section-title-s6 animated" data-animate="fadeInUp" data-delay=".2">Token Sale</h2>
                    <p class="animated" data-animate="fadeInUp" data-delay=".3">The tokens will be available for
                        transfer thar is rorem ipsum dolor sit amet, consectetur adipiscing elit.</p></div>
                <div class="gaps size-2x"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 text-center">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="token-stage animated" data-animate="fadeInUp" data-delay=".4">
                            <div class="token-stage-title token-stage-pre">PRE SALE</div>
                            <div class="token-stage-date"><h6>3 July 2018</h6><span>10 Days</span></div>
                            <div class="token-stage-info"><span class="token-stage-bonus">30% Bonus</span><span
                                    class="token-stage-cap">Soft Cap</span><span class="token-stage-amount">$2M</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="token-stage animated" data-animate="fadeInUp" data-delay=".5">
                            <div class="token-stage-title token-stage-one">SALE STAGE 1</div>
                            <div class="token-stage-date"><h6>15 August 2018</h6><span>15 Days</span></div>
                            <div class="token-stage-info"><span class="token-stage-bonus">20% Bonus</span><span
                                    class="token-stage-cap">Hard Cap</span><span class="token-stage-amount">$5M</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="token-stage animated" data-animate="fadeInUp" data-delay=".6">
                            <div class="token-stage-title">SALE STAGE 2t</div>
                            <div class="token-stage-date"><h6>28 October 2018</h6><span>10 Days</span></div>
                            <div class="token-stage-info"><span class="token-stage-bonus">10% Bonus</span><span
                                    class="token-stage-cap">Hard Cap</span><span class="token-stage-amount">$3M</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gaps size-2x d-none d-lg-block"></div>
                <div class="token-action-box res-m-bttm animated" data-animate="fadeInUp" data-delay=".7">
                    <div class="token-action-title">Join Our <br> Pre-Sale List</div>
                    <div class="token-action-date">Pre-Sale Start at <span>03 July 2018</span></div>
                    <div class="token-action-btn"><a href="#" class="btn btn-lg">Signup &amp; Join</a></div>
                </div>
            </div>
            <div class="col-lg-5">
                <ul class="token-details-list animated" data-animate="fadeInUp" data-delay=".8">
                    <li><span class="token-details-title">Token Symbol</span><span
                            class="token-details-info">ICOX</span></li>
                    <li><span class="token-details-title">Token Sale Start</span><span class="token-details-info">3 July 2018</span>
                    </li>
                    <li><span class="token-details-title">Token Sale End</span><span class="token-details-info">28 October 2018</span>
                    </li>
                    <li><span class="token-details-title">Tokens for sale</span><span class="token-details-info">100,500,000</span>
                    </li>
                    <li><span class="token-details-title">Token Price</span><span
                            class="token-details-info">$0.80 USD</span></li>
                    <li><span class="token-details-title">Specifications</span><span class="token-details-info">ICOX token</span>
                    </li>
                    <li><span class="token-details-title">Max circulating supply</span><span class="token-details-info">175,500,000</span>
                    </li>
                    <li><span class="token-details-title">Sale duration</span><span
                            class="token-details-info">10 days</span></li>
                </ul>
            </div>
        </div>
        <div class="gaps size-2x d-none d-md-block"></div>
        <div class="gaps size-2x"></div>
        <div class="row">
            <div class="col-lg-6">
                <div class="single-chart res-m-bttm"><h3 class="sub-heading-s2 animated" data-animate="fadeInUp"
                                                         data-delay=".1">Token Allocation</h3>
                    <div class="animated" data-animate="fadeInUp" data-delay=".2"><img
                            src="{% static 'images/lungwort/chart-lungwort-a.png' %}"alt="chart"></div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="single-chart res-m-bttm"><h3 class="sub-heading-s2 animated" data-animate="fadeInUp"
                                                         data-delay=".3">Operating Allocation</h3>
                    <div class="animated" data-animate="fadeInUp" data-delay=".4"><img
                            src="{% static 'images/lungwort/chart-lungwort-b.png' %}"alt="chart"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>