{% load i18n static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.html">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Robotics</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    {% include 'base.html' %}
</head>
<body>

<!-- #header -->
<header id="header" class="header-scrolled">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="{% url 'home' %}">
                    <i class="fa fa-yoast" style="font-size: 35px; color: #1da6e0;">
                    <spam style="font-size: 20px">&nbsp;Yotta Robotics</spam></i>
                </a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="{% url 'home' %}">Home</a></li>

                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'products' %}">Products</a></li>
                    <li><a href="{% url 'blog' %}">Blog</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li class="menu-has-children"><a href="#">Dropdown</a>
                        <ul>
                            <li><a href="elements.html">Elements</a></li>
                            <li><a href="product-details.html">Product Details</a></li>
                            <li class="menu-has-children"><a href="#">Level 2</a>
                                <ul>
                                    <li><a href="#">Item 1</a></li>
                                    <li><a href="#">Item 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li>

                         <div class="container">
                                <div class="row">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-4">
                                         <a class="btn big-login" data-toggle="modal" href="javascript:void(0)" onclick="openLoginModal();">Log in</a>
                                         <a class="btn big-register" data-toggle="modal" href="javascript:void(0)" onclick="openRegisterModal();">Register</a></div>
                                    <div class="col-sm-4"></div>
                                </div>


                                 <div class="modal fade login" id="loginModal">
                                      <div class="modal-dialog login animated">
                                          <div class="modal-content">
                                             <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title">Login with</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="box">
                                                     <div class="content">
                                                        <div class="social">
                                                            <a class="circle github" href="/auth/github">
                                                                <i class="fa fa-github fa-fw"></i>
                                                            </a>
                                                            <a id="google_login" class="circle google" href="/auth/google_oauth2">
                                                                <i class="fa fa-google-plus fa-fw"></i>
                                                            </a>
                                                            <a id="facebook_login" class="circle facebook" href="/auth/facebook">
                                                                <i class="fa fa-facebook fa-fw"></i>
                                                            </a>
                                                        </div>
                                                        <div class="division">
                                                            <div class="line l"></div>
                                                              <span>or</span>
                                                            <div class="line r"></div>
                                                        </div>
                                                        <div class="error"></div>
                                                        <div class="form loginBox">
                                                            <form method="post" action="/login" accept-charset="UTF-8">
                                                            <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                                            <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                                            <input class="btn btn-default btn-login" type="button" value="Login" onclick="loginAjax()">
                                                            </form>
                                                        </div>
                                                     </div>
                                                </div>
                                                <div class="box">
                                                    <div class="content registerBox" style="display:none;">
                                                     <div class="form">
                                                        <form method="post" html="{:multipart=>true}" data-remote="true" action="/register" accept-charset="UTF-8">
                                                        <input id="email" class="form-control" type="text" placeholder="Email" name="email">
                                                        <input id="password" class="form-control" type="password" placeholder="Password" name="password">
                                                        <input id="password_confirmation" class="form-control" type="password" placeholder="Repeat Password" name="password_confirmation">
                                                        <input class="btn btn-default btn-register" type="submit" value="Create account" name="commit">
                                                        </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <div class="forgot login-footer">
                                                    <span>Looking to
                                                         <a href="javascript: showRegisterForm();">create an account</a>
                                                    ?</span>
                                                </div>
                                                <div class="forgot register-footer" style="display:none">
                                                     <span>Already have an account?</span>
                                                     <a href="javascript: showLoginForm();">Login</a>
                                                </div>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                         </div>

                    </li>

                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </div>
</header>

{% include 'base_js.html' %}


</body>

</html>






