{% include "admin/base_site.html" %}
{% load i18n static %}

<div id="content-wrapper">


    {% comment %}
<?php search("Name|name|1;Barcode|barcode|1;Category|category.2.inv_category/where comid='$rootcomid'/id,name|2;Status|status.1.-Choose/1-Active/0-Inactive|2",'','get'); ?>
{% endcomment %}

    <div class="panel">
        <div class="panel-heading">
            <h3 class="panel-title">Product List</h3>
        </div>
        <div class="panel-body">
            <div class="pad-btm form-inline">
                <div class="row">
                    <div class="col-sm-12" style="text-align:right;">
                        <a class="form-group">
                            <button type="submit" class="btn btn-primary mb-4" value="{% url 'customerList' %}">
                                <a href="{% url 'customeradd' %}">Add New</a>
                            </button>
                        </a></div>
                </div>
            </div>
        </div>

        <div class="limiter">
            <div class="wrap-table100">
                <div class="table100">
                    <table>
                        <thead>
                        <tr class="table100-head">
                            <th class="min-tablet">Customer ID</th>
                            <th class="min-tablet">Type</th>
                            <th class="min-tablet">Name</th>
                            <th class="min-tablet">Phone</th>
                            <th class="min-tablet">Email</th>
                            <th class="min-tablet">Created</th>
                            <th class="min-tablet">Updated</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for post in datalist %}
                            <tr>
                                <td>{{ post.customer_id }}</td>
                                <td>{{ post.type }}</td>
                                <td>{{ post.name }}</td>
                                <td>{{ post.phone }}</td>
                                <td>{{ post.email }}</td>
                                <td>{{ post.created }}</td>
                                <td>{{ post.updated }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% include 'hotel/table_bottom.html' %}

    </div>
</div>