{% load i18n static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.html">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Robotics</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!-- CSS ============================================= -->
    {% include 'base.html' %}
</head>
<body>

<!-- #header -->
<div>
{% include 'blog/common/blog_header.html' %}

</div>

<!-- start banner Area -->

<!-- End banner Area -->

<!--blog section start-->
<div class="blog-main">
    <div class="row" style="margin-top: 46px;">

        <!--start left section-->
        <div class="col-sm-2">
            {% include 'blog/post/blog_menu.html' %}
        </div>

        <!--End left section-->

        <!--start middle section-->

        <div class="col-sm-7">
            {% if request.user.is_authenticated %}
                {% include 'blog/post/knowladge_feed.html' %}
            {% else %}
                {% include 'blog/post/public_news_feed.html' %}
            {% endif %}

        </div>

        <!--End middle section-->

        <!--start right section-->
        <div class="col-sm-3">
            {% include 'blog/post/highlight.html' %}
        </div>
        <!--End right section-->
    </div>
</div>
<!--End blog section-->

<!-- start footer Area -->
{% include 'publicsite/commom/footer.html' %}
<!-- End footer Area -->


{% include 'base_js.html' %}

</body>
</html>

