{% load i18n static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="sidebar">
    <div class="blog-menu">
      <h3 style="border-bottom-width: 3px;  border-bottom-style: outset; border-bottom-color: #1da6e0;;">Home</h3>
        <br>

        <a href="./?" >
            <i class="fa fa-dashboard" style="color: #1da6e0"></i>
            <span style="color:black;">&nbsp; Yotta Blog</span>
        </a>
        <br>

        <a href="./?" >
            <i class="fa fa-user" style="color: #1da6e0"></i>
            <span style="color:black;">&nbsp; Users</span>
        </a>
        <br>


        <a href="./?" >
            <i class="fa fa-tag" style="color: #1da6e0"></i>
            <span style="color:black;">&nbsp; Tag</span>
        </a>
        <br>
    </div>
</div>

</body>
</html>