{% load i18n static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<body>
    <div class="card">
        <div class="input-group">
          <input type="text" style="border: 2px solid #1da6e0;" class="form-control" placeholder="Fill up your robotics curiosity...">
          <div class="input-group-append">
            <button class="btn btn-search" style="background-color: #1da6e0; color: black" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Search</button>
          </div>
        </div>
    </div>

    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>

    <div class="card">
      <h2>TITLE HEADING</h2>
      <h5>Title description, Sep 2, 2017</h5>
      <div class="fakeimg" style="height:200px;">Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>

</body>
</html>

