<style>
    #sticky_footer
    {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30px;
        background: #85929E;
        color: #f0f0ee;
        padding: 5px;
        font-size: 15px;
    }
    #sticky_footer a{
        color: #fff;
        padding-left: 7px;
        padding-right: 7px;
        font-weight: bold;
        text-decoration: none;
    }
</style>

<div id="sticky_footer">
    <div class="row">
    <div class="col-sm-6" style="padding-left: 80px; ">
        <a href="#"><i class="fa fa-tasks"></i> Task</a>
        <a href="#"><i class="fa fa-sticky-note-o"></i> Notes</a>
<!--        <a href="#">Help</a>-->
    </div>
    <div class="col-sm-6" style="padding-right: 80px; text-align: right;">

        <a href="#" title="New Message"><i class="fa fa-comments-o"></i> </a>
        <a href="?rf=lock" title="Lock"><i class="fa fa-lock"></i> </a>
        <a href="#" title="Full Screen"><i class="fa fa-arrows-alt"></i> </a>
    </div>
    </div>
</div>
