{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>


    <!--All css file-->
    <link rel="stylesheet" href="{% static "publicpage/css/animate.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "publicpage/css/bootstrap.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "publicpage/css/font-awesome.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "publicpage/css/hexagons.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "publicpage/css/linearicons.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "publicpage/css/magnific-popup.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "publicpage/css/main.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "publicpage/css/nice-select.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "publicpage/css/owl.carousel.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "publicpage/css/style.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "publicpage/css/login-register.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "blog/style.css" %}" type="text/css"/>


</html>