{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>


    <!--All css file-->
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/hexagons.min.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/linearicons.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/magnific-popup.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/main.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/nice-select.css" %}" type="text/css"/>
    <link rel="stylesheet" href="{% static "css/owl.carousel.css" %}" type="text/css"/>

</html>