{% load i18n static %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<meta http-equiv="content-type" content="text/html;charset=UTF-8"/>

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.html">
    <!-- Author Meta -->
    <meta name="author" content="codepixer">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Robotics</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    {% include 'base.html' %}
</head>
<body>

<!-- #header -->
<header id="header" class="header-scrolled">
    <div class="container main-menu">
        <div class="row align-items-center justify-content-between d-flex">
            <div id="logo">
                <a href="{% url 'home' %}">
                    <i class="fa fa-yoast" style="font-size: 35px; color: #1da6e0;">
                        <spam style="font-size: 20px">&nbsp;YOTTA <sub>Robotics</sub></spam>
                    </i>
                </a>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li><a href="{% url 'home' %}">Home</a></li>

                    <li><a href="{% url 'about' %}">About Us</a></li>
                    <li><a href="{% url 'services' %}">Services</a></li>
                    <li><a href="{% url 'products' %}">Products</a></li>
                    <li><a href="{% url 'blog_main' %}">Blog</a></li>
                    <li><a href="{% url 'contact' %}">Contact</a></li>
                    <li><a href="{% url 'contact' %}">Social</a></li>
                    <li class="menu-has-children"><a href="#">Dropdown</a>
                        <ul class="dropdown">
                            <li><a href="elements.html">Elements</a></li>
                            <li><a href="product-details.html">Product Details</a></li>
                            <li class="menu-has-children"><a href="#">Level 2</a>
                                <ul>
                                    <li><a href="#">Item 1</a></li>
                                    <li><a href="#">Item 2</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>



                    {% comment %}<li>
                        <button type="button" class="btn btn-login"><a href="{% url 'accounts:log_in' %}">Login</a> </button>
                    </li>
                    <li>
                        <button type="button" class="btn btn-register"><a href="{% url 'accounts:sign_up' %}">Register</a></button>
                    </li>{% endcomment %}
                    {% if request.user.is_authenticated %}
                   {% comment %}<li class="menu-has-children"><a href="#">Dropdown</a>
                        <ul class="dropdown">
                            <a class="nav-link" href="{% url 'accounts:change_password' %}">{% trans 'Change password' %}</a>
                            <a class="nav-link" href="{% url 'accounts:change_profile' %}">{% trans 'Change profile' %}</a>
                            <a class="nav-link" href="{% url 'accounts:change_email' %}">{% trans 'Change email' %}</a>
                            <a class="nav-link" href="{% url 'accounts:log_out' %}">{% trans 'Log out' %}</a>
                        </ul>
                   </li>
                    {% endcomment %}

                    <li class="dropdown">Profile</a>
                        <ul class="dropdown-menu">
                            <li><a class="nav-link" href="{% url 'accounts:change_password' %}">{% trans 'Change password' %}</a></li>
                            <li><a class="nav-link" href="{% url 'accounts:change_profile' %}">{% trans 'Change profile' %}</a></li>
                            <li><a class="nav-link" href="{% url 'accounts:change_email' %}">{% trans 'Change email' %}</a></li>
                            <li><a class="nav-link" href="{% url 'accounts:log_out' %}">{% trans 'Log out' %}</a></li>
                        </ul>
                    </li>

                        {% comment %}<li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:change_password' %}">{% trans 'Change password' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:change_profile' %}">{% trans 'Change profile' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:change_email' %}">{% trans 'Change email' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:log_out' %}">{% trans 'Log out' %}</a>
                        </li>{% endcomment %}
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:log_in' %}">{% trans 'Log in' %}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'accounts:sign_up' %}">{% trans 'Create an account' %}</a>
                        </li>
                    {% endif %}

                </ul>

            </nav>
            <!-- #nav-menu-container -->
        </div>
    </div>
</header>

{% include 'base_js.html' %}


</body>

</html>






