{% load i18n static %}


<div class="section footer-scetion footer-lungwort">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <ul class="social">
                    <li class="animated" data-animate="fadeInUp" data-delay=".1"><a href="#"><em
                            class="fab fa-facebook-f"></em></a></li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".2"><a href="#"><em
                            class="fab fa-twitter"></em></a></li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".3"><a href="#"><em
                            class="fab fa-youtube"></em></a></li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".4"><a href="#"><em
                            class="fab fa-github"></em></a></li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".5"><a href="#"><em
                            class="fab fa-bitcoin"></em></a></li>
                    <li class="animated" data-animate="fadeInUp" data-delay=".6"><a href="#"><em
                            class="fab fa-medium-m"></em></a></li>
                </ul>
                <a href="index-2.html" class="footer-logo">
    <img src="{% static 'images/logo-full-white.png' %}"  srcset="images/logo-full-white2x.png 2x"></a><span
                    class="copyright-text">Copyright &copy; 2018, ICO Crypto. Template Made By <a
                    href="http://softnio.com/" target="_blank">Softnio</a> &amp; Handcrafted by iO.<span>All trademarks and copyrights belong to their respective owners.</span></span>
            </div>
        </div>
    </div>
</div>
