{% load i18n static %}

<header class="site-header is-sticky">
    <!-- Place Particle Js -->
    <div id="particles-js" class="particles-container particles-js"></div>
    <!-- Navbar -->
    <div class="navbar navbar-expand-lg is-transparent" id="mainnav">
        <nav class="container">
         <a class="navbar-brand animated" data-animate="fadeInDown" data-delay=".65" href="index.html">
     <img class="logo logo-dark" alt="logo" src="" srcset="images/logo2x.png 2x">
 <img class="logo logo-light" alt="logo" src="{% static 'images/logo-full-white.png' %}"srcset="images/logo-full-white2x.png 2x">
         </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">
                <span class="navbar-toggler-icon">
                    <span class="ti ti-align-justify"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarToggle">
                <ul class="navbar-nav animated remove-animation" data-animate="fadeInDown" data-delay=".9">
                    <li class="nav-item"><a class="nav-link menu-link" href="#about">About
                        <span class="sr-only">(current)</span>
                    </a>
                    </li>
                    <li class="nav-item"><a class="nav-link menu-link" href="#why">Why</a></li>
                    <li class="nav-item"><a class="nav-link menu-link" href="#benifits">Benifits</a>
                    </li>
                    <li class="nav-item"><a class="nav-link menu-link" href="#tokenSale">Token Sale</a>
                    </li>
                    <li class="nav-item"><a class="nav-link menu-link" href="#roadmap">Roadmap</a></li>
                    <li class="nav-item"><a class="nav-link menu-link" href="#team">Team</a></li>
                    <li class="nav-item"><a class="nav-link menu-link" href="#faq">Faqs</a></li>
                    <li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>
                </ul>
                <ul class="navbar-btns animated remove-animation" data-animate="fadeInDown" data-delay="1.15">
                    <li class="nav-item lang-switch"><a class="" href="#" data-toggle="dropdown">English <em
                            class="ti ti-angle-down"></em></a>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">French</a><a class="dropdown-item"
                                                                                                  href="#">Chinese</a><a
                                class="dropdown-item" href="#">Hindi</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="#join">Join Our
                        Whitelist</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <!-- End Navbar -->

    <!-- Banner/Slider -->
    <div id="header" class="banner banner-full d-flex align-items-center banner-lungwort">
        <div class="background-shape bs-right"></div>
        <div class="container">
            <div class="banner-content">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="header-txt tab-center mobile-center"><h1 class="animated" data-animate="fadeInUp"
                                                                             data-delay="1.45">#1 Best Selling ICO
                            Landing template for ICO Startup Agency</h1>
                            <p class="lead animated" data-animate="fadeInUp" data-delay="1.55">Most Trending, Clean and
                                Elegant Design <br class="d-none d-md-block"> based on deeply research</p>
                            <ul class="btns no-space animated" data-animate="fadeInUp" data-delay="1.65">
                                <li><a href="#" class="btn btn-icon-s2"><em class="ti ti-files"></em> White Paper</a>
                                </li>
                                <li><a href="#" class="btn btn-icon-s2"><em class="ti ti-file"></em> One Pager</a></li>
                                <li><a href="https://www.youtube.com/watch?v=SSo_EIwHSd4"
                                       class="btn btn-icon-s2 video-play"><em class="ti ti-control-play"></em> How it
                                    works</a></li>
                            </ul>
                        </div>
                        <div class="countdown-box text-center animated" data-animate="fadeInUp" data-delay="1.75"><h6>
                            PRE SALE STARTING IN</h6>
                            <div class="token-countdown d-flex align-content-stretch" data-date="2018/09/05"></div>
                            <a href="#" class="btn btn-sm">Sign UP &amp; Join our PRe-Sale list</a>
                            <ul class="icon-list">
                                <li><em class="fab fa-bitcoin"></em></li>
                                <li><em class="fas fa-won-sign"></em></li>
                                <li><em class="fab fa-cc-visa"></em></li>
                                <li><em class="fab fa-cc-mastercard"></em></li>
                            </ul>
                        </div>
                    </div><!-- .col  -->
                    <div class="col-lg-6 order-first order-lg-last">
                        <div class="header-image-lg animated" data-animate="fadeInUp" data-delay="1.35"><img
                                src="{% static 'images/lungwort/header-image.png' %}"alt="header-image">
                        </div>
                    </div>
                    <!-- .col  -->
                </div><!-- .row  -->
            </div>
            <!-- .banner-content  -->
        </div>
        <!-- .container  -->
    </div>
    <!-- End Banner/Slider -->
</header>